@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,700;1,400;1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
            
}
section div
{
    position: relative;
    width: 50%;
    background: #1a0f4e;
    overflow: hidden;

}
section div h2
{
    position: absolute;
    white-space: nowrap;
    font-size: 12em;
    line-height: 100vh;
    color: #ffffff;
    animation: animate 40s linear infinite;
    
}
section div:nth-child(1)
{
    position: relative;
    width: 50%;
    background: url(bg.jpg);
    background-size: cover;
    overflow: hidden;

}
section div:nth-child(1) h2
{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: transparent;
    left: 100%;

}
@keyframes animate
{
    0%{
       transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
     }
}

